html,
body,
#__nuxt {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;

    background-color: $color-bg;
}

* {
    box-sizing: border-box;
    color: $color-white;

    &:focus {
        outline: 1px dashed $color-green;
        outline-offset: 2px;
        border: none;
    }
}

// Убрать скроллбары
html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}
